<div class="w-50">
  <mat-card>
    <mat-card-title class="p-2">Create Posts</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label MatFormFieldControl="title">Title</mat-label>
      <input [(ngModel)]="title" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Content</mat-label>
      <textarea [(ngModel)]="content" matInput></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitPost()">Submit</button>
  </mat-card>
</div>
<p>{{title}}</p>
