<div class="container" style="margin: 1rem">
  <button mat-raised-button color="primary">Hello world!</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-button>Submit!</button>
  <button mat-flat-button color="primary">Submit!</button>
  <div class="mat-typography">
    <h1>Afolabi</h1>
    <h2>Afolabi</h2>
    <h3>Afolabi</h3>
    <h4>Afolabi</h4>
  </div>
</div>
<div>
<button mat-flat-button matButtonToggle>Toggle</button>
  <mat-button-toggle></mat-button-toggle>
</div>
