<div class="container" style="margin: 1rem">
  <button mat-raised-button color="primary">Hello world!</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-button>Submit!</button>
  <button mat-flat-button color="primary">Submit!</button>
  <div class="mat-typography">
    <h1>Afolabi</h1>
    <h2>Afolabi</h2>
    <h3>Afolabi</h3>
    <h4>Afolabi</h4>
  </div>
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
